.triangle {
    width: 0;
    height: 0;
    border-left: 100px solid #a8541e;
    border-bottom: 100px solid transparent;
  }

.buttonsubmit{
    width:40%;
    font-weight: 900;
    align-self: center;
    background-color: #a8541e;
    color:white;
    padding:2px;
    margin-bottom: 6px;
    border-radius: 8px;
   
    
  }
.cell{
  /* background-color: aqua; */
  border: '10px solid black',
}
.cell:hover{
  border-color: pink;
}

.cell:active{
  border-color: blue;
}